<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update</h1>    
    <form action="{% url 'blog:update' post.id %}" method="post">
        {% csrf_token %}
        Title: <input type="text" name="title" value="{{ post.title }}" />
        <div>
            <textarea name="content">{{ post.content }}</textarea>
        </div>
        <input type="submit" value="작성" />
    </form><br>
    <a href="{% url 'blog:home' %}">Go Back</a>
</body>
</html>