<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign-In Page</h1>
    <form action="{% url 'accounts:sign-in' %}" method="post">
        {% csrf_token %}
        <div>
            <label><input type="text" name="username" placeholder="아이디"/></label>
        </div>
        <div>
            <label><input type="password" name="password" placeholder="비밀번호"/></label>
        </div>
        <input type="submit" value="로그인"/>
    </form>
    {% if error %}
    <div>{{ error }}</div>
    {% endif %}
</body>
</html>