<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <h1>{{ now_data|date:'Y-m-d' }}</h1>
    <h1>{{ now_string }}</h1>
    <p>
        오늘의 날씨는 {{ weather }}이며, 기온은 {{ temperature }}입니다.
    </p>
    <p>
        {{ weather_data }}<br>
        어제의 날씨는 {{ weather_data.weather }}이며, 
        기온은 {{ weather_data.temperature }}입니다.
    </p>
    <p>
        {{ top_average }} of {{ top_average|length }}<br>
        <ol>
            <li>{{ top_average.0 }}</li>
            <li>{{ top_average.1 }}</li>
            <li>{{ top_average.2 }}</li>
        </ol>
        <ol>
            {% for top in top_average %}
            <li>{{ top }}</li>
            {% endfor %}
        </ol>
    </p>
    <p>
        {{ top_hitters }}<br>
        <ol>
            <li>{{ top_hitters.0.name }}, {{ top_hitters.0.average }}</li>
            <li>{{ top_hitters.1.name }}, {{ top_hitters.1.average }}</li>
            <li>{{ top_hitters.2.name }}, {{ top_hitters.2.average }}</li>
        </ol>
    </p>
    <p>
        오늘의 기온은
        {% if not temperature %}
        알수 없습니다.
        {% elif temperature < 10 %}
        {{ temperature }}도 이며, 매우 춥습니다.
        {% elif temperature > 30 %}
        {{ temperature }}도 이며, 매우 덥습니다.
        {% else %}
        {{ temperature }}도 이며, 포근합니다.
        {% endif %}
    </p>
    <ul>
        {% for car in test_list %}
        {{ car.id }}
        {% endfor %}
    </ul>
</body>
</html>