<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Read</h1>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>Created: {{ post.created_at }}</p>
    <a href="/nn-board/home/">뒤로가기</a>
    <a href="/nn-board/post/{{ post.id }}/update/">수정하기</a>
    <a href="/nn-board/post/{{ post.id }}/delete/">삭제하기</a>
</body>
</html>