<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete</h1>
    <h2>정말 삭제하시겠습니까?</h2>
    <form action="/nn-board/post/{{ post.id }}/delete/" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="ID" />
        <input type="password" name="password" placeholder="비밀번호" />
        <br>
        <input type="submit" value="예" />
    </form>
    <a href="/nn-board/post/{{ post.id }}/read/">돌아가기</a>
</body>
</html>