<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/survey/submit-simple/" method="post">
        {% csrf_token %}
        <div>
            <label>나이: <input id="input-age" type="number" name="age" /></label>
        </div>
        <div>
            <label>성별: <input id="input-gender" type="text" name="gender"/></label>
        </div>
        <div>
            <label>주소: <input id="input-address" type="text" name="address"/></label>
        </div>
        <div>
            <label for="textarea-suggestion">건의사항:<br></label>
            <textarea 
                name="suggestions" 
                id="textarea-suggestion"
                placeholder="건의 사항을 작성하세요"
            ></textarea>
        </div>
        <input type="submit" value="제출" />
    </form>
</body>
</html>