<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    {% endblock %}
    <title>{% block title %}Fallback Title{% endblock %}</title>
    <style>
        header {
            display: flex;
        }

        .header-item {
            width: 10%;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-item">
            Home
        </div>
        <div class="header-item">
            Blog
        </div>
        <div class="header-item">
            Board
        </div>
    </header>
    {% block body %}
    <h1>This is fallback html.</h1>
    {% endblock %}
</body>
</html>